@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(227, 10%, 46%);
  background-color: hsl(185, 75%, 39%);
  min-height: 100vh;

  display: grid;
  place-content: center;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

ul {
  list-style: none;
}

/* Profile Card */

.profile__card {
  min-width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.profile__top-bg img {
  display: block;
  width: 100%;
}

.profile__content {
  display: grid;
  gap: 1.2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: #fff;
}

.profile__img img {
  max-width: 90px;
  border: 5px solid #fff;
  border-radius: 50px;
  margin-top: -50px;
}

.profile__title {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.profile__title span {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.profile__stats {
  display: flex;
  justify-content: space-around;
}

.profile__stats p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.profile__stats p:nth-child(2) {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding-top: 0.3rem;
}
